$root: '.about';

#{$root} {
    background: #191919;

    display: flex;
    justify-content: center;

    &__content {
        padding-top: 40px;
        padding-bottom: 50px;

        max-width: 1170px;

        width: 100%;

        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__description {
        max-width: 275px;

        &-text {
            color: #888;
    
            margin-top: 20px;

            line-height: 1.75em;
            font-size: 14px;
        }
    }

    &__title {
        font-weight: 400;
        font-size: 19px;
        color: #fff;

        margin-bottom: 35px;
    }

    &__list-item {
        margin-bottom: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid #232323;

        &:last-child {
            margin-bottom: 0;
            padding-bottom: 0;
            border-bottom: none;
        }

        &-title {
            font-size: 14px;
            line-height: 1.75em;
        }

        &-date,
        &-title {
            color: #8c8c8c;
        }

        &-date {
            opacity: .5;
            font-size: 13px;

            margin-top: 6px;
        }

        &-icon ~ &-title {
            padding-left: 15px;
            display: inline;
        }

        &-icon,
        &-title {
            display: inline-block;
        }

        &-icon {
            color: #888;

            width: 16px;
            height: 16px;

            text-align: center;
        }

        &_hovered {
            cursor: pointer;

            #{$root}__list-item-title {
                transition: .15s color;
            }

            &:hover #{$root}__list-item-title {
                color: #c7b299;
            }
        }
    }

    &__item {
        width: calc(25% - 30px);

        min-width: 200px;

        padding: 0 15px;
        padding-top: 10px;
    }

    &__item:not(:first-child) {
        padding-top: 35px;
    }

    &__logo {
        user-select: none;
    }
}
