.about {
    background: #191919;

    padding-top: 40px;
    padding-bottom: 50px;

    display: flex;
    justify-content: center;

    &__content {
        max-width: 1170px;

        width: 100%;

        display: flex;
        justify-content: space-between;
    }

    &__description {
        max-width: 275px;

        &-text {
            color: #888;
    
            margin-top: 20px;

            line-height: 1.75em;
            font-size: 14px;
        }
    }

    &__title {
        font-weight: 400;
        font-size: 19px;
        color: #fff;

        margin-bottom: 35px;
    }

    &__list-item {
        margin-bottom: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid #232323;

        &:last-child {
            margin-bottom: 0;
            padding-bottom: 0;
            border-bottom: none;
        }

        &-title {
            font-size: 14px;
            line-height: 1.75em;
        }

        &-date,
        &-title {
            color: #8c8c8c;
        }

        &-date {
            opacity: .5;
            font-size: 13px;

            margin-top: 6px;
        }

        &-icon ~ &-title {
            padding-left: 15px;
            display: inline;
        }

        &-icon,
        &-title {
            display: inline-block;
        }

        &-icon {
            color: #888;

            width: 16px;
            height: 16px;

            text-align: center;
        }
    }

    &__item {
        width: 25%;

        padding: 0 15px;

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }
    }

    &__item:not(:first-child) {
        padding-top: 24px;
    }
}
