.header {
    height: 96px;
    width: 100%;

    display: flex;
    justify-content: center;

    position: fixed;

    background: none;

    z-index: 10;

    &__menu {
        display: flex;
    }

    &__content {
        height: 100%;
        max-width: 1180px;
        width: 100%;
        padding: 0 20px;
    
        box-sizing: border-box;
    
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        display: flex;
        align-items: center;
    }

    &_hidden {
        display: none;
    }
}
