.landing {
    background-image: url('./../assets/images/mountain.jpg');
    background-size: cover;

    min-height: 850px;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    &__content {
        text-align: center;
        padding-top: 20px;
    }

    &__title {
        color: #fff;

        &_medium {
            font-size: 34px;
            letter-spacing: 2px;
            line-height: 46px;
        }

        &_big {
            font-size: 56px;
            font-weight: 800;
            line-height: 65px;
        }

        &_small {
            font-size: 18px;
            line-height: 28px;
            max-width: 458px;
            margin: 0 auto;
            margin-top: 10px;
            letter-spacing: .3px;
        }
    }

    &__button {
        letter-spacing: 1px;
        line-height: 14px;
        margin-top: 40px;
    }

    &__bullets {
        right: 25px;
        position: absolute;
    
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__bullet-item {
        width: 15px;
        height: 15px;
        margin: 3px;
        border-radius: 50%;
    
        background: rgba(255, 255, 255, .2);

        cursor: pointer;

        transition: .3s box-shadow, .3s background;

        position: relative;

        &::after {
            position: absolute;
            content: '';

            width: 100%;
            height: 100%;
            border-radius: 50%;

            transform: scale(1);

            background: transparent;

            transition: .3s transform, .3s background;
        }

        &_active {
            box-shadow: 0 0 0 2px #FFF;
            background: transparent;

            &::after {
                transform: scale(.4);
            
                background: #fff;
            }
        }
    }

    &__scroller {
        height: 56px;
        width: 34px;
        border: 2px solid rgba(255, 255, 255, 0.7);
        border-radius: 24px;

        position: absolute;
        bottom: 50px;
        left: calc(50% - 17px);

        background: transparent;
        box-sizing: border-box;

        &-circle {
            width: 8px;
            height: 8px;
            border-radius: 50%;

            position: absolute;
            left: calc(50% - 4px);
            transform: translateY(8px);

            background: #fff;
            opacity: 0;

            animation: scrolling 2s infinite linear;
            animation-delay: 1s;
        }

        @keyframes scrolling {
            from {
                transform: translateY(8px);
                opacity: .5;
            }

            35% {
                transform: translateY(8px);
                opacity: .8;
            }

            50% {
                opacity: .5;
            }

            65% {
                transform: translateY(22px);
                opacity: 0;
            }
        }        
    }
}
