.footer {
    background: #111111;
    
    padding: 30px 20px;

    &__content {
        max-width: 1170px;

        color: #888;

        margin: 0 auto;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__media {
        display: flex;

        &-item {
            margin: 0 7px;
            opacity: .8;

            &_active {
                cursor: pointer;

                &:hover .footer__media-item-icon {
                    opacity: 1;
                    color: #c7b299;
                }
            }

            &:visited {
                color: inherit;
            }

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }

            &-icon {
                font-size: 22px;

                transition: .2s opacity, .2s color;
            }
        }
    }

    &__copy {
        font-size: 14px;
    }

    &__author {
        text-decoration: none;
        margin-left: 2px;
        color: inherit;

        transition: .2s color, .3s border-color;

        border: 1px solid transparent;

        &::selection {
            background: #c7b299;
        }

        &:hover {
            color: #c7b299;

            border-bottom: 1px solid #c7b299;
        }
    }
}
