.ideas {
    background: #fbfaf8;

    &__content {
        text-align: center;
        padding-top: 90px;
    }

    &__templates {
        margin-top: 60px;
        font-size: 0;

        text-align: center;
        
        &-image {
            width: 100%;
            max-width: 1170px;
        }
    }

    &__text {
        font-weight: 500;
    }

    &__text {
        line-height: 1.6em;
        font-size: 16px;

        margin: 20px auto;

        max-width: 560px;

        color: #8c8c8c;
    }
}
