.stat {
    background: #2f2928;

    &__content {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        color: #fff;

        max-width: 1170px;
        margin: 0 auto;

        padding: 40px;
        padding-top: 0;
    }

    &__icon {
        font-size: 48px;
    }

    &__count {
        font-size: 48px;
        font-weight: bold;
        margin-top: 5px;
    }

    &__name {
        color: #c7b299;
        font-size: 16px;
        font-weight: 500;
        margin-top: 15px;
    }

    &__column {
        margin-top: 40px;

        width: 25%;
        min-width: 250px;
    }
}
