.page {
    padding-right: 40px;
    padding-left: 40px;

}

@media screen and (max-width: 800px) {
    .page {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media screen and (max-width: 800px) {
    .page {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media screen and (max-width: 600px) {
    .page {
        padding-left: 25px;
        padding-right: 25px;
    }
}

