.poster-mobile {
    &__content {
        display: flex;
        align-items: center;
        justify-content: space-around;

        max-width: 1170px;

        margin: 0 auto;

        padding-top: 75px;
    }

    &__left {
        font-size: 0;
    }

    &__title {
        color: #363636;
        font-size: 36px;
        font-weight: 500;
    }

    &__text {
        font-size: 18px;

        color: #8c8c8c;
        line-height: 1.65em;

        margin-top: 30px;

        max-width: 620px;
    }

    &__image {
        width: 100%;
        height: auto;
    }

    &__list {
        margin: 30px auto;
        margin-bottom: 0;

        width: 75%;

        padding-left: 30px;

        &-item {
            color: #8c8c8c;

            line-height: 25px;

            font-size: 18px;
            margin-bottom: 12px;

            position: relative;

            &::before {
                content: "\279C";
                width: 19px;
                height: 19px;
                border-radius: 50%;
                background: #c7b299;
                color: #fff;
                line-height: 20px;
                font-size: 15px;
                text-align: center;
                position: absolute;
                top: 3px;
                left: -26px;
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .poster-mobile {
        &__content {
            flex-wrap: wrap;

            padding-bottom: 40px;
        }

        &__right {
            margin-top: 30px;
        }

        &__title {
            text-align: center;
        }
    }
}
