.button {
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;

    padding: 19px 38px;
    border-radius: 26px;
    line-height: 16px;

    color: #fff;
    background: #998675;

    display: inline-block;

    box-shadow: inset 0 -2.5px 0 rgba(0, 0, 0, 0.15);
    cursor: pointer;

    transition: .3s box-shadow;

    &:hover {
        box-shadow: inset 0 -100px 0 rgba(0, 0, 0, 0.15)
    }
}
