.characteristics {
    background: #fff;

    &__content {
        max-width: 1140px;

        padding: 100px 50px;
        margin: 0 auto;

        display: flex;

        justify-content: center;
    }

    &__icon,
    &__title {
        transition: .15s color, .15s opacity;
    }

    &__title {
        font-size: 22px;
        font-weight: 500;

        color: #363636;

        text-align: center;

        margin-top: 15px;
    }

    &__text {
        font-size: 15px;

        margin-top: 20px;
        line-height: 1.5em;

        color: #8c8c8c;

        text-align: center;
    }

    &__icon {
        width: 100px;
        height: 65px;

        margin: 0 auto;
        text-align: center;
        opacity: .5;

        i {
            zoom: 3;
        }
    }
}
