.characteristics {
    &__thumb {
        width: calc(25% - 40px);

        max-width: 275px;
        min-width: 210px;

        margin: 20px;

        &:hover {
            cursor: pointer;

            .characteristics__icon {
                color: #c7b299;
                opacity: 1;
            }

            .characteristics__title {
                color: #c7b299;
            }
        }
    }
}
