 .link {
    display: flex;
    align-items: center;

    height: 100%;

    font: 14px 'Raleway', Helvetica, Arial;
    color: #fff;

    cursor: pointer;

    transition: .125s color ease-in;

    &:hover,
    &_active {
        color: #c7b299;
    }

    &_icon:hover svg {
        fill: #c7b299;
    }

    &_icon svg {
        width: 20px;
        fill: white;
    
        transition: .1s fill ease-in;
    }
}
