.promo-stripe {
    background: #2f2928;

    display: flex;
    align-items: center;

    &__content {
        padding-top: 60px;
        padding-bottom: 60px;

        max-width: 1170px;
        width: 100%;

        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        margin: 0 auto;
    }

    &__title {
        font-size: 30px;
        color: #fff;

        &-header {
            font-weight: bold;
            color: #c7b299;
            
            display: inline;
        }

        &-text {
            display: inline;

            margin-left: 6px;
        }
    }

    &__text {
        font-size: 21px;
        font-weight: 300;

        color: #fff;
        opacity: .4;

        line-height: 1.75em;
    }

    &__right {
        display: flex;
        align-items: center;
    }
}

@media screen and (max-width: 750px) {
    .promo-stripe {

        &__content {
            flex-direction: column;
        }

        &__right {
            margin-top: 20px;

            justify-content: center;
        }

        &__left {
            text-align: center;
        }
    }
}
